services:
#  app:
#    build: .
#    depends_on:
#      - postgres
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/portfolio_db
#      SPRING_DATASOURCE_USERNAME: portfolio_user
#      SPRING_DATASOURCE_PASSWORD: portfolio_pass
#    ports:
#      - "8080:8080"
  postgres:
    image: postgres:16
    container_name: portfolio-postgres
    restart: always
    environment:
      POSTGRES_DB: portfolio_db
      POSTGRES_USER: portfolio_user
      POSTGRES_PASSWORD: portfolio_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
